body, html {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: #e6e6e6;;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.animatedParent {
    overflow: hidden;
}
a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    padding: 15px 0;
}

p {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    padding: 15px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    outline: none;
    border: none;
}
ul li:focus{
  outline: none;
  border: none;
}
.pxm{
  padding: 70px 0px;
}
.bg-white{
    height: 100%;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('../../fonts/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
#ErefererAchat {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #e6e6e6;
}

#sidebar-navbar {
    z-index: 1000;
    left: 250px;
    width: 0;
    position: fixed;
    top:90px;
    padding: 30px 0;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #293846;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#ErefererAchat.toggled #sidebar-navbar {
    width: 250px;
}
#wraper-content-ereferer {
    width: 100%;
    position: absolute;
    padding: 15px;
}
#ErefererAchat.toggled #wraper-content-ereferer {
    position: absolute;
    margin-right: -250px;
}
.icon-navicon#menu-toggle a, .icon-navicon#menu-toggle a:hover, .icon-navicon#menu-toggle a:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    color: #19aa89;
    padding: 0px 18px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    margin-left: 18px;
}
.weather-temperature{
    display: flex;
    justify-content: center;
    align-items: center;
}
.months,
.time-city{
    font-size: 14px;
    color: #293846;
    font-weight: 600;
    padding-left: 10px;
    font-family: 'Poppins';
}
.time-city time{
    display: inherit;
    font-family: 'Poppins';
    color: #293846;
    font-weight: 600;   
}
.days{
    font-size: 34px;
    color: #19aa89;
    line-height: 39px;
    padding: 0 10px;
    font-weight: 600;
    border-right: 1px solid #ccc;
    font-family: 'Poppins';
}
.tempw{
   font-size: 34px;
    color: #19aa89;
    padding: 0 10px;
    padding-top:0px;
    font-weight: 600;
    border-right: 1px solid #ccc;  
}
.Erefereuser li{
    list-style: none;
}

.Erefereuser{
    width:30%;
}
.icon-navicon{
    width: 80px;
}
.Erefereuser,
.user_info,
.user_prof{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.user_prof .pic_user img{
    width: 50px;
    height: 50px;
    border-radius:999px;
}
.Erefereuser .nav-item.dropdown a{
    padding: 0;
    padding-top: 10px;
    color: #666666;
}
.Erefereuser ul{
    padding: 0;
}
.Erefereuser .nav-item.dropdown a.dropdown-item{
    padding: 10px;
    color: #19aa89;
}

.user_info{
    width: 120px;
    text-align: center;
} 
.user_info li a{
    color: #293846;
    font-size: 21px;
    padding: 0px 20px 0px 0px;
    display: inline-block;
    position: relative;
}
.user_info li span.alrt_E{
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background: #19aa89;
    position: absolute;
    top: 0px;
    right: 14px;
    z-index: 1;
}
.logout a{
   color: #19aa89;
    font-size:21px;
   padding-left: 30px;
    display: inline-block;
}
/*********************top-navbar*********************/
.navigationtop{
    display: flex;
    align-items: center;
    padding: 20px;
    background: #fff;
    white-space: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.first-grid{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 44%;
}
.middle-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
}
.last-grid{
    width: 30%;
}
.logoE{
    width: 330px;
}
.serachbar{
    margin-left: 10px;
}
.serachbar input{
    border: none;
    border-radius: 100px !important;
    background: #e4e6ee;
    padding: 0;
    padding-left: 15px;
    height: 45px !important;
}
.serachbar input:focus{
    border: none;
    box-shadow: 0px 0px 0px;
    border-color: #e4e6ee;
    background: #e4e6ee;
}
.btn-search:focus{
    border: none;
    box-shadow: 0px 0px 0px;
    outline: none;
}
.btn-search{
    border: none;
    background: transparent;
    font-size: 24px;
    font-weight: 600;
    padding-left: 10px;
    margin-top: -8px;
}

/*******************************
             Flag
*******************************/

.flag-icon .flag:not(.icon) {
  display: inline-block;
  width: 16px;
  height: 11px;
  line-height: 11px;
  vertical-align: baseline;
  margin: 0em 0.5em 0em 0em;
  text-decoration: inherit;
  speak: none;
  font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* Sprite */
.flag-icon .flag:not(.icon):before {
  display: inline-block;
  content: '';
  background: url("https://mdbootstrap.com/img/svg/flags.png") no-repeat -108px -1976px;
  width: 16px;
  height: 11px;
}

/*********************sidebar-navbar*********************/
#sidebar-navbar .navbar{
    padding: 0;
}
#sidebar-navbar .navbar .navbar-nav{
    display: inline-block;
    flex-direction: inherit;
    width: 100%;
}
#sidebar-navbar .navbar .navbar-nav .nav-link {
    padding: 15px;
    color: #8095a8;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}
#sidebar-navbar .navbar .collapse:not(.show) {
    display: block;
}
#sidebar-navbar .navbar .navbar-nav .dropdown-menu{
    width: 100%;
    background: #293846;
    color: #fff;
    margin: 0;
    border: none;
    position: relative;
}
#sidebar-navbar .navbar .navbar-nav .dropdown-menu:before{
    content: '';
    width: 1px; height: 100%;
    background:#276e6b;
    position: absolute;
    top: 0;
    left: 30px;
    bottom: 0;
    z-index: 1;
}

#sidebar-navbar .navbar .navbar-nav .dropdown-menu .dropdown-item {
    padding: 15px;
    color: #759592;
    text-align: left;
    font-size: 16px;
    white-space: normal;
    background-color: transparent;
    border: 0;
    display: flex;
    position: relative;
    width: 100%;
    padding-left: 48px;
}
#sidebar-navbar .navbar .navbar-nav .dropdown-menu .dropdown-item:before{
    content: '';
    position: absolute;
    left: 23px;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: #276e6b;
    -webkit-transform: rotateZ(45deg) translateY(-50%);
    transform: rotateZ(45deg) translateY(-50%);
    z-index: 2;
}
#sidebar-navbar .navbar .navbar-nav .dropdown-menu .dropdown-item:hover:before,
#sidebar-navbar .navbar .navbar-nav .dropdown-menu .dropdown-item.active:before{
    background: #1ab394;
}
#sidebar-navbar .navbar .navbar-nav .dropdown-menu .dropdown-item i{
    margin-top: 4px;
    margin-right: 8px;
}
#sidebar-navbar .navbar-nav .nav-link:hover, #sidebar-navbar .navbar-nav .nav-link:focus {
   background-color: #394a5a;
    color: #8095a8;
}
#sidebar-navbar .navbar-nav .show > .nav-link, #sidebar-navbar .navbar-nav .active > .nav-link, #sidebar-navbar .navbar-nav .nav-link.show, #sidebar-navbar .navbar-nav .nav-link.active {
    background-color: #394a5a;
    color: #8095a8;
}

#sidebar-navbar .navbar .navbar-nav .dropdown-menu .dropdown-item.active, 
#sidebar-navbar .navbar .navbar-nav .dropdown-menu .dropdown-item:hover, 
#sidebar-navbar .navbar .navbar-nav .dropdown-menu .dropdown-item:focus {
    background-color: #394a5a;
    color: #8095a8 !important;
    text-decoration: none;
}
/******************************************************************************************/
/**********************wraper-content-ereferer*****************/

.titleboxAchat{
    background: #fff;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}
.titleboxAchat h1{
    font-size:21px;
    color: #666666;
}
.titleboxAchat p{
    font-size:18px;
    color: #666666;
}
.inportant_ifo{
    margin-top: 20px;
}
.inportant_ifo p{
    background: #19aa89;
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
}
.inportant_ifo a{
    color: #fff;
    text-decoration: underline;
}
/*********************Site Left*************/
.Sites-Box{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: inline-block;
    padding: 20px 0px 77px 20px;
    background: #fff;
}
.chartBox_E{
    width: 75%;
    height: 100%;
    float: left;
    margin-top: 20px;
    display: inline-block;
    padding: 20px 20px 25px 40px;
    background: #fff;
}

.chat-message-field{
    width: 100%;
    height: 430px;
    padding-right: 5px;
    overflow: hidden;
    overflow-y: visible;
    position: relative;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
}

.Eref_action{
    width: 25%;
    height: 100%;
    margin-top: 20px;
    padding: 20px 0 20px 16px;
    float: right;
    background: #fff;
}
.action-switch .articlesswitch{
    font-size: 14px;
}
.action-switch h2{
    text-transform: uppercase;
    font-size: 21px;
    color: #666666;
}
.action-switch .articlesswitch .switch {
    width: 53px;
    height: 24px;
    margin-left: 5px;
}
.action-switch .articlesswitch .slider:before {
    height: 19px;
    width: 19px;
    left:4px;
    bottom: 3px;
}
.leavechat a{
    background: #19aa89;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 11px 18px;
    text-align: center;
    border-radius: 999px;
    margin-top: 20px;

}
.Sites-Box .leavechat a{
    font-size: 16px !important;
    padding:10px 30px !important;
}

.siteurl h2,
.chart_title h2{
    text-transform: uppercase;
    font-size: 21px;
    color: #666666;
}
.siteurl a{
    border-radius: 5px;
    border: 1px solid #999999;
    color: #19aa89;
    font-size: 14px;
    padding: 10px;
    display: inline-block; 
}
.testul{
    margin-top: 20px;
}
.ulrfind{
    border: none;
    border-bottom:2px solid #ccc;
    padding-left: 0;
    border-radius: 0;
    font-size:24px;
    font-weight:600;
    color: #000;
    font-style: italic;
}
.ulrfind:focus{
    outline: none;
    border-color: #ccc;
    box-shadow: 0px 0px 0px;
}
.sitesule-details{
    width: 48%;
    float: left;
}
.sitesule-details_edit{
    width: 48%;
    float:right;
}
.sitesule-details h4,
.sitesule-details_edit h4,
.articlesswitch h4{
    width: 100%;
    color: #666666;
    font-size: 16px;
    display: inline-block;
}
.sitesule-details a,
.sitesule-details_edit a{
    color: #19aa89;
    font-size: 12px;
    display: inherit;
    font-weight: 600;
}
.sitesule-details_edit i{
    font-size:14px;
    padding-left: 5px;
}

.articlesswitch{
    margin-top:20px;
}
.articlesswitch .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 29px;
}

.articlesswitch .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.articlesswitch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.articlesswitch .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.articlesswitch input:checked + .slider {
  background-color: #19aa89;
}

.articlesswitch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.articlesswitch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.articlesswitch .slider.round {
  border-radius: 34px;
}

.articlesswitch .slider.round:before {
  border-radius: 50%;
}
.show_art_re{
    width: 100%;
    margin-top:20px;
    border-top: 1px solid #ccc;
    display: inline-block;
}
.show_art_re .show_hide,
.show_art_re .show_hide2,
.show_art_re .show_hide3{
    width: 142px;
    position: absolute;
    bottom: 15px;
    left:25px;
    background: #19aa89;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding:7px;
    text-align: center;
    border-radius: 999px;
    font-size:18px;
}
.contentEre h4{
    color: #19aa89;
    font-size:20px;
    padding-bottom: 0;
}
.contentEre p{
    color: #666666;
    font-size: 15px;
    padding-bottom: 0;
}
.ereferer_sitesbox{
    width: 48%;
    float: left;
    position: relative;
}
.ereferer_sitesbox .sitesule-details_edit{
    width: 100%;
    float: none;
}
.ereferer_sitesbox .show_art_re .show_hide3{
    bottom:-60px;
    left: 0;
}
.ereferer_sitesbox .show_art_re p i{
    color: #19aa89;
    font-size: 21px;
    padding-left: 10px;
}
/******************chat box****************/
.message {
    margin-bottom:1.25rem;
}
.message.self {
    text-align: right;
}
.message .message-content {
    padding: 1rem 1.75rem;
    background-color: #fff;
    border: 1px solid #999999;
    color: #8094ae;
    margin-left: 6.25rem;
    border-radius: 7px;
    text-align: left;
    display: inline-block;
    max-width: 84%;
    margin-top: 20px;
    position: relative;
    font-size: 15px;
   
}
.message .message-content:before{
    content: '';
    width: 100px;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -17px;
    background: url(../img/chevleft.png)no-repeat;
    background-size: 44px;
}
.message.self .message-content {
    background-color: #e4e6ee;
    color: #666666;
    margin-right:6.25rem;
    margin-left: 0px;
    border: none;
}
.message.self .message-content:before{
    top: 0px;
    left: 96% !important;
    background: url(../img/chevright.png)no-repeat;
    background-size: 43px;
}
.avatar {
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    display: inline-block;
    position: relative;
    border-radius:999px;
}
.avatar.avatar-sm {
    height: 5rem;
    width: 5rem;
    min-width: 5rem;
    top: 19px;
}
.avatar img {
    width: 100%;
    height: 100%;
    border-radius:999px;
    object-fit: cover;
}
.message.self .avatar.avatar-sm img{
    border: 3px solid #19aa89;
}
.message .message-date{
    color: #999999;
    font-size: 12px;
    margin-left:6rem;
    margin-top: 10px;
}
.message.self .message-date {
    margin-left:0rem;
    margin-right:6.5rem;
}
.message-wraper{
    width: 100%;
    margin-top:-5rem;
}
.sent-m-int{
    padding: 10px;
    height:49px;
}
.send-msg-btn{
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 10px;
}
.send-msg-btn img{
    width: 100%;
}
button:focus {
    outline:0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.chat-message-field::-webkit-scrollbar,
#sidebar-navbar::-webkit-scrollbar {
  width:2px;
  display: none;
}
.chat-message-field::-webkit-scrollbar-track,
#sidebar-navbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.chat-message-field::-webkit-scrollbar-thumb,
#sidebar-navbar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}
/******************Create a project***********************/
.Sites-creator{
    width: 100%;
    background: #fff;
    padding:20px 20px 25px 20px;
    margin-top: 20px;
    display: inline-block;
}
.title_creator{
    font-size: 21px;
    color: #666666;
    padding-top: 0;
}
.creator_box_ere{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.creator_box_ere form{
    width: 100%;
}
.creator_box_ere .form-group{
    margin-bottom: 0;
}
.ctrinct{
    padding: 10px;
    height: auto;
    border-color: #19aa89;
}
.btncreaterE a{
    background: #19aa89;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 11px 44px;
    text-align: center;
    border-radius: 999px;
}
.or{
    margin: 0 20px;
    font-size: 18px;
    color: #666666;
}
.grid_with_L{
    width: 48%;
    float: left;
}
.grid_with_R{
    width: 48%;
    float: right;
}

/***** RADIO BUTTON STYLES *****/
 .rdio {
     position: relative;
}
 .rdio input[type="radio"] {
     opacity: 0;
}
 .rdio label {
     padding-left: 10px;
     cursor: pointer;
     margin-bottom: 7px !important;
}
 .rdio label:before {
     width: 18px;
     height: 18px;
     position: absolute;
     top: 1px;
     left: 0;
     content: '';
     display: inline-block;
     -moz-border-radius: 50px;
     -webkit-border-radius: 50px;
     border-radius: 50px;
     border: 1px solid #ccc;
     background: #fff;
}
 .rdio input[type="radio"] {
     margin: 0px;
}
 .rdio input[type="radio"]:disabled + label {
     color: #999;
}
 .rdio input[type="radio"]:disabled + label:before {
     background-color: #ccc;
}
 .rdio input[type="radio"]:checked + label::after {
     content: '';
     position: absolute;
     top: 5px;
     left: 4px;
     display: inline-block;
     font-size: 11px;
     width: 10px;
     height: 10px;
     background-color: #fbc52d;
     -moz-border-radius: 50px;
     -webkit-border-radius: 50px;
     border-radius: 50px;
}
 .rdio-default input[type="radio"]:checked + label:before {
     border-color: #ccc;
}
 .rdio-primary input[type="radio"]:checked + label:before {
     border-color: #ccc;
}
 .rdio-primary input[type="radio"]:checked + label::after {
     background-color: #19aa89;
}
.Sites-creator label{
    font-size: 17px;
    padding: 10px 0;
    color: #666666;
}
.Sites-creator .creator_box_ere .form-group{
    width: 100%;
    margin-bottom: 0px;
    display: inline-block;
    height: auto !important;
}
.Sites-creator .form-group{
    margin-bottom: 30px;
    display: inline-block;
}
.radiobuttons{
    width: 100%;
    display:inline-block;
    margin-top:23px;
}
.radiobuttons label{
    padding: 0;
    padding-left: 10px;
    font-size:15px;
}
.ctrincts{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    height: auto !important;
    position: relative;
}
.ifnP4j{
    width: 20px;
    height: 20px;
    background: #19aa89;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 999px;
    line-height: 20px;
    font-size: 14px;
    margin-left: 5px;
}
.Sites-creator select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: transparent;
    background: url(../img/arrow.png)no-repeat;
    background-position-x: 98%;
    background-position-y:18px;
    background-size: 10px;
}
.btnnextF{
    width: 100%;
    display: inline-block;
}
.price€P{
    margin: 50px 0;
    margin-top: 100px;
    text-align: right;
}
.btnnextF a{
    background: #19aa89;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 11px 44px;
    text-align: center;
    border-radius: 999px;
}
.Sites-creator .Sites-creator .btn-light:focus, 
.Sites-creator .btn-light.focus {
    box-shadow:0rem transparent !important;
    border-color: #19aa89;
}
.Sites-creator .btn-light:hover {
    color: #666666;
    background-color: #ffffff;
    border-color: #dae0e5;
    box-shadow: 0px 0px 0px #0000 !important;
}
.Sites-creator .btn-light {
    color: #666666;
    background-color: #ffffff !important;
    border-color: #ced4da;
    padding:6px 10px;
}
.Sites-creator .bootstrap-select > select.mobile-device:focus + .dropdown-toggle, .Sites-creator .bootstrap-select .dropdown-toggle:focus {
    outline: thin dotted #333333 !important;
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px;
    box-shadow: 0px 0px 0px;
     border-color: #19aa89;
}
.Sites-creator .btn-light:not(:disabled):not(.disabled):active, .Sites-creator .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #ffffff;
     border-color: #19aa89 !important;
}
.Sites-creator .dropup .dropdown-toggle::after,
.Sites-creator .dropdown-toggle::after {
    border-bottom: 0.3em solid transparent;
    background: url(../img/arrow.png)no-repeat;
    background-position-y: 9px;
    padding: 10px 11px;
    border: none;
    background-size: 11px;
}
.Sites-creator .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    overflow: hidden;
    padding-top: 4px;
}
.tooltip-top{
    position: relative;
}
.tooltip-top p{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    background: #19aa89;
    width: 320px;
    padding: 10px;
    font-size: 13px;
    display: none;
    z-index: 9;
    color: #fff;
    border-radius: 5px;
    transform: translate(-50%, 10px);
}
.tooltip-top:hover p{
    display: block;
}

/*****************step 3****************/
.step3CreatoreS{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.Sites-creator .step3CreatoreS .form-group{
    width: 285px;
    margin: 20px 13px;
    height: 100%;
    border: 2px solid #19aa89;
}
.Sites-creator .step3CreatoreS .form-group:hover{
    box-shadow: 0px 0px 10px #19aa89;
}
.step3CreatoreS span{
    color: #666666;
    font-size: 18px;
    padding: 15px 15px 0 15px;
    display: inline-block;
}
.step3CreatoreS p{
    color: #666666;
    font-size: 14px;
    padding: 15px;
}
.footertitle4d{
    background: #19aa89;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.rdio-big_wt label{
    position: relative;
}
.radiocst{
    position:absolute;
    top: 0;
    right: 0;
    z-index: 2; 
}

.hepldays_in{
    width: 100%;
}
.hepldays_in p{
    width: 48%;
  font-size:16px;
  color:#666666;
}
 .rdio-big_wt{
     position: relative;
}

 .rdio-big_wt input[type="radio"] {
     opacity: 0;
}
 .rdio-big_wt label {
    padding: 0;
    cursor: pointer;
    margin-bottom: 0 !important;
    display: inline-block;
    height: 230px;
}
 .rdio-big_wt label:before {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0px;
    right: 0;
    content: '';
    display: inline-block;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0;
    border: none;
    background: #ffffff;
}
 .rdio-big_wt input[type="radio"] {
     margin: 0px;
}
 .rdio-big_wt input[type="radio"]:disabled + label {
     color: #999;
}
 .rdio-big_wt input[type="radio"]:disabled + label:before {
     background-color: #ccc;
}
 .rdio-big_wt input[type="radio"]:checked + label::after {
     content: '\f00c';
     font-weight: 900;
     font-family: "Font Awesome 5 Free";
     position: absolute;
     color: #fff;
     top: 0px;
     right: 0px;
     display: inline-block;
     font-size:21px;
     text-align: center;
     width: 35px;
     height: 35px;
     line-height: 35px;
     background-color: #fbc52d;
     -moz-border-radius:0px;
     -webkit-border-radius:0px;
     border-radius:0px;
}

 .rdio-big_wt input[type="radio"]:checked + label:before {
     border-color: #ccc;
}
.rdio-big_wt input[type="radio"]:checked + label::after {
     background-color: #19aa89;
}
.dividerfor{
    width: 100%;
    display: inline-block;
}

/* Base for label styling */
.form-check input[type="checkbox"]:not(:checked),
.form-check input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.form-check input[type="checkbox"]:not(:checked) + label,
.form-check input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.form-check input[type="checkbox"]:not(:checked) + label:before,
.form-check input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 11px;
  width: 1.25em; height: 1.25em;
  border: 2px solid #19aa89;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.form-check input[type="checkbox"]:not(:checked) + label:after,
.form-check input[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .60em; 
  left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #19aa89;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
.form-check input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.form-check input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.form-check input[type="checkbox"]:disabled:not(:checked) + label:before,
.form-check input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #19aa89;
  background-color: #19aa89;
}
.form-check input[type="checkbox"]:disabled:checked + label:after {
  color: #19aa89;
}
.form-check input[type="checkbox"]:disabled + label {
  color: #19aa89;
}
/* accessibility */
.form-check input[type="checkbox"]:checked:focus + label:before,
.form-check input[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid blue;
}

/* label:hover:before {
  border: 0px solid #4778d9!important;
} */
.form-check label{
    font-size: 14px;
}
.titlemeta{
    font-size: 18px;
    color: #666666;
}
.writeint{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
/* Chrome, Safari, Edge, Opera */
.writeint input::-webkit-outer-spin-button,
.writeint input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.writeint input[type=number] {
  -moz-appearance: textfield;
}
.writeint input{
    width:50px;
    padding: 5px;
    border:1px solid #ced4da;
}
.writeint label{
    padding:5px 10px;
    font-size:16px;
}
.form-check{
    padding-left: 0;
}
.grid-small{
    width:auto;
    float:left;
    margin-right: 20px;
}
.grid-small label{
    padding:0 5px;
    font-size: 16px;
}
.textboldop .titlemeta{
    font-size: 16px;
}

.articlesnt input{
    width: 70px;
    margin-right: 16px;
    padding:9px 5px;
}
.toolinfoP {
    width: 60%;
    float: right;
    position: relative;
    top: -46px;
    font-size: 14px;
}
.switchbtn .toggle.btn.btn-light.off,
.switchbtn .toggle.btn.btn-primary{
    width: 162px !important;
    height: 46px !important;
}
.switchbtn .toggle.btn.btn-primary {
    color: #fff !important;
    background-color: #19aa89;
    border-color: #19aa89;
}
.switchbtn .toggle.btn.btn-primary label{
    color: #fff !important;
    background-color: #19aa89 !important;
    border-color: #19aa89 !important;
    border-radius: 99px;
}
.switchbtn .btn.btn-light.toggle-off{
    color: #ffffff;
    background-color: #2938468f !important;
    border-color: #293846 !important;
    padding: 10px;
}
.submit_conf{
    background: #19aa89;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 11px 44px;
    text-align: center;
    border-radius: 9px;
    border: none;
    text-transform: uppercase;
}
/**********************Profile********************/
.Profile_User_box{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 50px;
    padding-right:15%;
    margin-top: 20px;
}
.balnece_box_user{
    display: flex;
    justify-content: space-between;
}
.profile_pic_Ere_4h5{
    margin-right: 50px;
}
.profile_pic_Ere_4h5 img{
    width: 120px;
    height: 120px;
    border-radius: 999px;
    border:2px solid #19aa89;
}
.User_profile_details h4{
    font-size: 24px;
    padding: 15px 0;
    color: #19aa89;
}
.User_profile_details p{
    font-size: 18px;
    padding: 15px 0;
    padding-top: 0;
    color: #666666;
}
.User_profile_details{
    margin-right: 50px;
}
.btnedited a{
    border: 2px solid #19aa89;
    color: #19aa89;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 999px;
    font-weight: 500;
    margin-top: 20px;
}
.balnece_box_user{
    border: 1px solid #666666;
    padding: 10px 35px;
    height: 150px;
}
.balence_cart{
    width: 120px;
    height: 120px;
    margin-right: 30px;
    padding:30px;
    border: 2px solid #19aa89;
    border-radius: 999px;
}
.balence_cart img{
    width: 100%;
}
.balence_show h4{
    font-size: 24px;
    color: #666666;
}
.balence_show p{
    font-size: 24px;
    padding-top: 0;
    color: #19aa89;
}
/******************Commandes*******************/
.commandes_box{
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
}
.red_commands{
    border: 1px solid #ed5565;
}
.unread,
.pegination_next{
    margin-top: 20px;
}
.unread input[type="checkbox"]:not(:checked) + label:before, 
.unread input[type="checkbox"]:checked + label:before {
    width: 2.25em;
    height: 2.25em;
    background-color: transparent;
}
.unread label:before,
.unread label:after{
    border-color: #19aa89 !important;
}
.unread input[type="checkbox"]:not(:checked) + label:after, 
.unread input[type="checkbox"]:checked + label:after {
    font-size: 1.90em;
    background-color: transparent;
}
.unread input[type="checkbox"]:not(:checked) + label, 
.unread input[type="checkbox"]:checked + label {
    padding-left: 2.95em;
    padding-top: 16px;
}
.pegination_next .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #000000;
    background-color: #fff0;
    border: 1px solid #dee2e600;
}
.pegination_next .page-link i{
    color: #19aa89;
}
.pegination_next ul li.active .page-link{
    color: #fff;
    background-color: #19aa89;
    padding: 5px 12px;
    display: inline-block;
}
.page-itemflw a.page-link{
    color: #19aa89;
}
.btnred_commands{
    width: 100%;
}
.btnred_commands a{
    color: #fff;
    background:#ed5565;
    padding: 10px 45px;
    display: inline-block;
    border-radius: 999px;
}
.Completeness ul{
    display: flex;
    justify-content: space-between;
    margin-top:15px;
}
.Completeness ul>li{
    font-size: 14px;
    color: #666666;
}
h4.title_commad{
    font-size:20px;
    color: #666666;
    padding-left: 20px;
    position: relative;
}
h4.title_commad:after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #19aa89;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 23px;
    border-radius: 999px;
}
.time_com{
    display: inherit;
    font-weight:600;
    color: #666666;
}
.time_wors{
    color: #29abe2;
    display: inherit;
    font-size:900;
    font-size:16px;
}
.Completeness ul>li:nth-of-type(2){
    background: url(../img/icond.png)no-repeat;
    background-size: 30px;
    padding-left: 35px;
}
.Completeness ul>li:nth-of-type(3){
        background: url(../img/icond.png)no-repeat;
    background-size: 30px;
    padding-left: 35px;
}
.articles_details{
    margin-top: 15px;
}
.articles_details h4{
    color: #000;
    font-size: 18px;
}
.articles_details p{
    font-size: 14px;
    padding-top: 0;
    color: #666666;
}
.articles_details a{
    color: #19aa89;
}
.blue_commands{
    border:1px solid #29abe2;
}
.btnblue_commands a{
    color: #fff;
    background: #29abe2;
    padding: 10px 45px;
    display: inline-block;
    border-radius: 999px;
}
.btncom_see_ed a.edit{
    color: #fff;
    background: #19aa89;
    padding: 10px 45px;
    display: inline-block;
    border-radius: 999px;
}
.btncom_see_ed  i{
    padding-right: 10px;
}
.btncom_see_ed a{
    margin: 10px;
}
.btncom_see_ed a.see{
    color: #19aa89;
    border:1px solid #19aa89;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 999px;
}
.btncom_see_ed a.see i{
      color: #19aa89;
}
.page-link:focus {
    z-index: 0;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}
.pegination_next{
    float: right;
}
/********************Find a site*************/
.banner_find_site{
    margin-top: 10px;
}
.banner_find_site img{
    width: 100%;
    height: 175px;
    object-fit: cover;
    position: relative;
}
.banner_heading{
    width: 40%;
    position: absolute;
    top: 10px;
    right: 14%;
    z-index: 1;
    bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
.banner_heading h1{
    font-size: 32px;
    padding: 15px 0;
    padding-bottom: 0;
    color: #fff;
}
.banner_heading p{
    font-size: 16px;
    color: #fff;
}
.category-find_list_box{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    display: inline-block;
}
.filerbtn{
    width: 100%;
    display: inline-block;
}
.filerbtn a{
    color: #fff;
    background: #19aa89;
    padding: 10px 30px;
    font-size: 17px;
    display: inline-block;
    border-radius: 999px;
}
.filerbtn a i{
    padding-right: 10px;
}
.left_nav_list_filter{
    width: 17%;
    float: left;
    margin-top: 20px;
}
.slider_rang_site_list{
    width: 83%;
    float: right;
    display: flex;
    justify-content:flex-start;
    border: 1px solid #19aa89;
    padding: 20px 15px;
    margin-top: 26px;
    box-shadow: 0px 0px 10px #828282;
    flex-wrap: wrap;
}
.left_nav_list_filter li a{
    color: #666666;
    background: #e6e6e6;
    padding: 10px;
    font-size: 16px;
    margin:4px 0;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    width: 172px;
}
.left_nav_list_filter li a:hover{
    background-color: #19aa89;
    color: #fff;
}
.Range-slider-eref{
    width: 30%;
    display: inline-block;
    margin: 20px 13px;
}
.Range-slider-eref label {
    font-size:15px;
    padding: 0 0 0 10px;
    margin: 0;
}
.add-categorisbtn{
    width: 180px;
    float: right;
}
.add-categorisbtn a{
    color: #fff;
    background: #19aa89;
    padding: 10px 30px;
    font-size: 17px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 20px;
}
.bottom-filter-box{
    width: 100%;
    margin-top:50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bottom-filter-box .filerbtn{
    width: auto;
}
.side-found-filter p{
    font-size: 18px;
    padding:15px;
    color: #666666;
}
.space-beetwinboth{
    padding: 0 30px;
}
.side-found-filter a{
    color: #19aa89;
    font-weight: 600;
}
.table_box_site{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    overflow: hidden;
    overflow-y: visible;
    
}
.excelsheet_tablebtn .pegination_next{
    margin: 0;
}
.excelsheet_tablebtn {
    margin-top: 20px;
}

.col-21-l{
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.btnall a{
    border: 1px solid #19aa89;
    padding:10px 20px;
    border-radius: 5px;
    font-size: 18px;
    display: inline-block;
    color: #19aa89;
    margin-right: 10px;
}
.excelD{
    background-color:#e4e6ee;
    border-color: #e4e6ee !important;
    color: #666666 !important;
}
.table_chart_box_list{
    width: 100%;
    display: inline-block;
}
.headingExcel{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.headingExcel li{
    padding: 10px 0px 10px 10px;
    font-size: 15px;
}
.details_show_chart:hover{
    box-shadow: 0px 0px 10px #828282;
}
.details_show_chart li{
    padding: 10px 0px 10px 10px;
}
.details_show_chart{
    margin-top: 20px;
}

.btn_reviews a{
    padding:8px 15px;
    border-radius: 5px;
    font-size:14px;
    display: inline-block;
    color: #fff;
    margin:5px 5px 5px 0;
}
.btn_reviews a.bluebtncl{background-color: #29abe2;}
.btn_reviews a.pinkbtncl{background-color: #ff7bac;}
.btn_reviews a.yellowbtncl{background-color: #fbb03b;}
.details_show_chart{
     width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: top;
}
.btn_reviews,
.categorisnews {
    margin-top: 20px;
}
.siteurlP p{
    border-bottom: 1px solid #19aa89;
    color: #19aa89;
    font-size: 16px;
    font-weight: 600;
    padding: 4px;
    display: inline-block;
}
.categorisnews p{
     border: 1px solid #19aa89;
    color: #19aa89;
    font-size: 16px;
    font-weight: 600;
    padding:5px 10px;
    display: inline-block;
    border-radius: 5px;
}
.categorisnews a{
    color: #19aa89;
    font-size: 16px;
    font-weight: 600;
    padding:5px 12px;
    margin-top:20px;
    display: inline-block;
}
.site_age p,
.site_traffic p,
.trusflow p,
.trusflow p,
.refering p,
.domenaut p,
.writing p{
    color: #000;
    font-size: 14px;
}
.pricingbtn a{
    color: #fff;
    background: #19aa89;
    padding: 10px;
    font-size: 13px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 20px;
    width:95%;
}
.headingExcel li:nth-of-type(1),
.details_show_chart li:nth-of-type(1){
    width: 302px;
}
.headingExcel li:nth-of-type(2),
.details_show_chart li:nth-of-type(2){
    width:17%;
}
.headingExcel li:nth-of-type(3),
.details_show_chart li:nth-of-type(3){
    width:134px;
}
.headingExcel li:nth-of-type(4),
.details_show_chart li:nth-of-type(4){
     width:110px;
}
.headingExcel li:nth-of-type(5),
.details_show_chart li:nth-of-type(5){
     width:184px;
}
.headingExcel li:nth-of-type(6),
.details_show_chart li:nth-of-type(6){
     width:178px;
}
.headingExcel li:nth-of-type(7),
.details_show_chart li:nth-of-type(7){
     width:142px;
}
.headingExcel li:nth-of-type(8),
.details_show_chart li:nth-of-type(8){
    width: 222px;
}
.radiobuttons p{
    width:90%;
    float: right;
    font-size:14px;
    padding-top: 0;
}
/**********************Inf_Warning***************/
.Inf_Warning{
    border: 1px solid #19aa89;
}
.Inf_Warning{
    padding: 15px;
}
.Inf_Warning h5{
    font-size: 18px;
    padding-top: 0;
    color: #666666;
}
.Inf_Warning p{
    font-size:14px;
    padding-top: 0;
    color: #666666;
}
.Inf_Warning i{
    color: #ff0000;
}
.amountheredis p{
    font-size: 15px;
    color: #464646;
}
.amountheredis .boltheretext{
    padding-right:20px;
    width:45%;
    display: inline-block;
    color: #464646;
}
.amountheredis p:last-child{
    color: #19aa89;
}
.radiobuttons hr{
    display: none;
}
/*************************Popoup Graph**************/
.textblog_urls{
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.textblog_urls p{
    color: #666666;
    font-size:18px;
    padding: 15px 0;
}
.textblog_urls a{
    color: #19aa89;
}
.Metrics{
    margin: 20px 0;
}
.Metrics a{
    color: #fff;
    font-size: 18px;
    padding: 10px 50px;
    display: inline-block;
    background: url(../img/btn_back.jpg)no-repeat;
    background-size: 100% 100%;
}
.Metrics p{
    color: #666666;
    font-size: 18px;
    padding: 15px 0;
}
#curve_chart{
    width: 100%;
    height: auto;
}
.content_Graph{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.content_Graph h4{
    font-size: 18px;
    padding:15px 0;
    color: #666666;
}
.content_Graph li{
    font-size: 18px;
    padding: 15px 0;
    color: #666666;
}
.content_Graph ul{
    width: 48%;
}
.number_ds_4fh{
    width: 120px;
    padding: 8px;
    text-align: right;
    float: right;
    background: #0071bc;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    margin-left: 7rem;
}
.content_Graph li:nth-of-type(2) .number_ds_4fh{
    background: #29abe2;
}
.content_Graph li:nth-of-type(3) .number_ds_4fh{
    background: #19aa89;
}
.content_Graph li:nth-of-type(4) .number_ds_4fh{
    background: #b3b3b3;
}
.content_Graph li:nth-of-type(5) .number_ds_4fh{
    background: #19aa89;
}
.content_Graph li:nth-of-type(6) .number_ds_4fh{
    background: #29abe2;
}
.authoS4{
    width:50%;
    background: #e6e6e6;
    border-radius: 99px;
    padding: 10px 0;
    display: inline-block;
    float: right;
    color: #fff;
}
.valider{
    width:40%;
    background:#29abe2;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    float: right;
    text-align: right;
    color: #fff;
}
.vTauxalider{
    width:40%;
    background:#fbb03b;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    float: right;
    text-align: right;
    color: #fff;  
}
.publicationT ul{
    width: 30%;
}
.publicationT .number_ds_4fh{
    margin-left:1rem;
    width: 100px;
}
.publicationT{
    width: 100%;
}
.mrthfibe{
    padding-top: 15px;
    border-top: 1px solid #ccc;
}
.cstdislmodal{
    max-width: 90%;
}
.modal {
    z-index: 99999;
}
.cstdislmodal .modal-header{
    border: none;
    position: absolute;
    right: 0;
    z-index: 9;
}
.btn.btn-success{
    background: #19aa89;
    padding: 10px 40px;
    font-size: 18px;
}